@{
    ViewData["Title"] = "Add";
}

<br />


<h2>Galerinize yeni bir an ekleyin</h2>
<br />

@model Product


<form asp-controller="Products" asp-action="SaveProduct" method="post" enctype="multipart/form-data">
 


    <div class="form-group">
        <label asp-for="Name" style="display:none;"></label>
        <input class="form-control" type="text" asp-for="Name" placeholder="başlık" />
    </div>




    <div class="mb-3">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" name="url">
    </div>



    <form>

        <div class="form-group" style="margin-bottom: 8px;">
            @* <label asp-for="Description"> </label> *@
            <textarea class="form-control" asp-for="Description" row="7" placeholder="Ürün açıklaması"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="submit" autocomplete="off"> kaydet </button>
    </form>




</form>
